{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1>TODO list</h1>
    </div>
    <div class="col-auto">
      <a href="{% url 'tasks:task-create' %}" class="btn btn-primary link-to-page">Add task</a>
    </div>
  </div>
  {% if tasks %}
    {% for task in tasks %}
      {{ task.content }}
      {% if task.is_done %}
        <span class="text-success">Done</span>
      {% else %}
        <span class="text-danger">Not done</span>
      {% endif %}
      <br>{{ task.created_datetime }}<br>
      <p>Tags
        {% for tag in task.tags.all %}
          {{ tag }}
          <a href="{% url 'tasks:tag-update' pk=tag.id %}" class="text-success">
            Update</a>
          <a href="{% url 'tasks:tag-delete' pk=tag.id %}" class="text-danger">
            Delete</a>
        {% endfor %}</p>
      <hr class="my-3">
    {% endfor %}
  {% else %}
    <p>There are no tasks in the service.</p>
  {% endif %}
{% endblock %}